:root {
  --bg-color: #bdd3c3;
  --text-color: #1b3a22;

  --nav-bg: #06582b;
  --footer-bg: #145a32;

  --link-color: #ffffff;
}

[data-theme="dark"] {
  --bg-color: #2d4020d7;
  --text-color: #e6f2ea;

  --nav-bg: #173905d7;
  --footer-bg: #173905d7;

  --accent: #2e7d32;

  --link-color: #bfe6c8;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body,
nav,
footer,
button {
  transition: background-color 0.3s ease, color 0.3s ease;
}